div{
    float: left;
    margin-left: 30px;
    border-radius: 20px;
}
.first{
  background-color: red;
  height: 300px; 
  width: 30%; 
}
.second{
    background-color: aliceblue;
}
.third{
    background-color: aqua;
}